<html>
  <head>
    <title>$i18n.getText("jtp.configuration.menu.header")</title>
    <meta name="decorator" content="atl.admin" />
    <style type="text/css">
    	body{
			font-family:Arial, Helvetica, sans-serif; 
			font-size:13px;
			}
			.info, .success, .warning, .error, .validation {
			border: 1px solid;
			margin: 10px 0px;
			padding:15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
			}
			.info {
			color: #00529B;
			background-color: #BDE5F8;
			background-image: url('info.png');
			}
			.success {
			color: #4F8A10;
			background-color: #DFF2BF;
			background-image:url('success.png');
			}
			.warning {
			color: #9F6000;
			background-color: #FEEFB3;
			background-image: url('$baseUrl/download/resources/plugin.jtp/images/jtp-icon.png');
			}
			.error {
			color: #D8000C;
			background-color: #FFBABA;
			background-image: url('error.png');
		}
    </style>
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
  </head>
  <body>
  	<img src='$baseUrl/download/resources/plugin.jtp/images/jtp-logo.png'/>
  	<span style="display:inline-block; vertical-align:middle"><h3> $i18n.getText("jtp.configuration.header")</h3></span>

	<!-- <div class="info, warning, success, error, validation"> yapılabilir -->
	
	#if ($errorMessages && $errorMessages.size() > 0 || !$licenseValid || $exceptionMessages && !$exceptionMessages.isEmpty())
 		<div class="aui-message error"><span class="aui-icon icon-error"></span>
 			<ul>
 				#if (!$licenseValid)
 					<li><font color="red">$i18n.getText("jtp.configuration.license.invalid") : $licenseMessage</font></li>
 				#end
 				
			  	#foreach ($errorMessage in $errorMessages)
					<li><font color="red">$errorMessage</font></li>
				#end
				
				#foreach ($exc in $exceptionMessages)
					<li><font color="red">$exc</font></li>
				#end
			</ul>
 		</div>
	#end
		        		
    <form id="admin" class="aui" method="post">
    	<table>
    		<tr>
				<td width="40%"><label for="time">$i18n.getText("jtp.configuration.license.label")</label></td>
        		<td width="60%">#if($licenseValid)$licenseMessage#end
        			, <a href="/jira/$licenseServletUrl">Click to see details or update your license</a>
        		</td>
	        </tr>
	        
	        <tr>
	        	<td colspan="2">
	        		<hr/>
	        	</td>
	        </tr>
	        
	        <tr>
	        	<td width="40%">
		        	#if($twitterScreenName) 
		        		$i18n.getText("jtp.configuration.twitter.screenname", $twitterScreenName)
		        	#else
		        		$i18n.getText("jtp.configuration.twitter.noTwitterAccountLoggedIn")
		        	#end
	        	</td>
	        	<td width="60%">
	        		<a href="$servletConfigureTwitter">$i18n.getText("jtp.configuration.twitter.login")</a>
	        		<img title='$i18n.getText("jtp.configuration.twitter.login.desc")' src="/jira/images/icons/ico_help.png" alt="">
	        	</td>
	        </tr>
	        
	        <tr>
	        	<td colspan="2">
	        		<i>For more information please <a target="_blank" href="https://bitbucket.org/tuncaysenturk/jtp/wiki/Home">visit Wiki documentation</a></i>
	        	</td>
	        </tr>
	        
	        <tr>
	        	<td colspan="2">
	        		<hr/>
	        	</td>
	        </tr>
	        
	        <tr>
	        	<td colspan="2">
	        		<i>$i18n.getText("jtp.configuration.onlyFollowers.desc")</i>
	        		<img title='$i18n.getText("jtp.configuration.onlyFollowers.desc.2")' src="/jira/images/icons/ico_help.png" alt="">
	        	</td>
	        </tr>

        	<tr>
        		<td width="40%"><b><label for="time">$i18n.getText("jtp.configuration.onlyFollowers.label")</label></b></td>
        		<td width="60%"><input type="checkbox" id="onlyFollowers" name="onlyFollowers" #if($onlyFollowers2)checked#end/></td>
        	</tr>
        	
        	<tr>
	        	<td colspan="2">
	        		<hr/>
	        	</td>
	        </tr>
        	
        	<tr>
	        	<td colspan="2">
	        		<i>$i18n.getText("jtp.configuration.project.desc")</i>
	        		<img title='$i18n.getText("jtp.configuration.project.desc.2")' src="/jira/images/icons/ico_help.png" alt="">
	        	</td>
	        </tr>
	        
        	<tr>
        		<td width="40%"><b><label for="time">$i18n.getText("jtp.configuration.project.label")</label></b></td>
				<td width="60%"><select id="projectId" name="projectId" style="width: 200px">
						#foreach ($projectItem in $projects)
		        			<option value="$projectItem.getId()" #if($projectId2 == $projectItem.getId().toString())selected#end>$projectItem.getName()</option>
		        		#end
		        	</select>
	        	</td>
        	</tr>
        	
        	<tr>
	        	<td colspan="2">
	        		<hr/>
	        	</td>
	        </tr>

			<tr>
	        	<td colspan="2">
	        		<i>$i18n.getText("jtp.configuration.defaultReporter.desc")</i>
	        	</td>
	        </tr>
					        
			<tr>
				<td width="40%"><b><label for="time">$i18n.getText("jtp.configuration.defaultReporter.label")</label></b></td>
        		<td width="60%"><input type="text" id="userId" name="userId" class="text" value="#if($userId2)$userId2#end"></input>
        			<img title='$i18n.getText("jtp.configuration.defaultReporter.desc")' src="/jira/images/icons/ico_help.png" alt="">
        		</td>
	        </tr>
	        
	        <tr>
	        	<td colspan="2">
	        		<hr/>
	        	</td>
	        </tr>
	        
	        <tr>
				<td width="40%"><b><label for="time">$i18n.getText("jtp.configuration.defaultIssueType.label")</label></b></td>
        		<td width="60%"><select id="issueTypeId" name="issueTypeId" style="width: 200px">
						#foreach ($issueTypeItem in $issueTypes)
		        			<option value="$issueTypeItem.getId()" #if($issueTypeId2.equals($issueTypeItem.getId().toString()))selected#end>$issueTypeItem.getName()</option>
		        		#end
		        	</select>
	        	</td>
	        </tr>
        	<tr>
        		<td colspan="2"><input type="submit" value="$i18n.getText("jtp.configuration.submit.caption")" class="button"></td>
        	</tr>
        	
        	
      	</table>
    </form>
  </body>
</html>